.editor {
  display: flex;
  height: 100%;
}
.playground {
  background: gainsboro;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.element {
  position: absolute;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  background: white;
}
.sidebar .shapes {
  display: flex;
  justify-content: center;
}

.sidebar .shape {
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.329);
  margin: 3px;
  border-radius: 4px;
}
